<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="page-header">
        <h1>Todos <small></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4" id="todos">
      <div class="panel panel-default">
        <ul class="list-group">
          <li class="list-group-item" v-for="todo in todos" id="{{ $index }}" v-drag-and-drop>
            <span v-if="todo.status == 'active'">{{ todo.body }}</span>
            <del v-else>{{ todo.body }}</del>
            <span class="pull-right">
              <span class="glyphicon glyphicon-check text-warning" v-if="todo.status == 'completed'" @click="active(todo)"></span>
              <span class="glyphicon glyphicon-unchecked text-success" v-if="todo.status == 'active'" @click="completed(todo)"></span>
              <span class="glyphicon glyphicon-remove text-danger" @click="destroy(todo)"></span>
            </span>
          </li>
        </ul>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="something to do" v-model="new_todo_body" @keyup.enter="create">
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag params[:controller] %>
